<div class="container">
  <div class="row mt-5">
    <div class="cal-12">
      <h2>장바구니</h2>
      <table class="table table-hover mt-3">
        <thead>
        <tr>
          <th scope="col" style="width: 50%">제품명</th>
          <th scope="col">가격</th>
          <th scope="col">수량</th>
          <th scope="col" style="width: 20%;">합계</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @carts.each do |cart| %>
          <tr>
            <td><%=cart.pack.product_name %></td>
            <td><%= number_to_currency(cart.pack.price) %></td>
            <td><%= cart.quantity %></td>
            <td><%= number_to_currency(cart.pack.price * cart.quantity) %></td>
            <td><a href="/carts/<%= cart.id %>" data-method="delete" data-confirm="삭제하시겠습니까?"><%= icon("fas", "times-circle") %></a></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <% if @carts.present? %>
        <h4 class="mt-5">주문 정보</h4>
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between mt-3">
              <h5 class="card-title">상품 합계</h5>
              <p class="card-text"><%= number_to_currency(@product_price) %></p>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <h5 class="card-title">배송비</h5>
              <p class="card-text"><%= number_to_currency(@shipping_fee) %></p>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <h5 class="card-title">최종 결제 금액</h5>
              <p class="card-text"><%= number_to_currency(@total_price) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>