<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <% if @pack.image.attached? %>
        <img src="<%= url_for(@pack.image) %>" alt="">
      <% else %>
        <img src="https://via.placeholder.com/640x360?text=No+Image" alt="">
      <% end %>
    </div>
    <div class="col-6">
      <h3><%= @pack.product_name %></h3>
      <p><%= @pack.company_name %></p>
      <hr>
      <h5>설명</h5>
      <p><%= @pack.desc %></p>
      <hr>
      <h3>필수 옵션 선택</h3>
      <form action="/carts" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="pack_id" value="<%= @pack.id %>">

        <div class="form-group">
          <label for="quantity">수량</label>
          <input type="number" name="quantity" value="1" min="1" max="10" class="form-control" id="quantity">
        </div>

        <button type="submit" class="btn btn-outline-dark mt-3 w-100">장바구니 담기</button>
      </form>
    </div>
  </div>
</div>