<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <% if @pack.image.attached? %>
        <img src="<%= url_for(@pack.image) %>" alt="" class="pack_img">
      <% else %>
        <img src="https://via.placeholder.com/640x360?text=No+Image" alt="">
      <% end %>
    </div>
    <div class="col-6">
      <h3><%= @pack.product_name %></h3>
      <p><%= @pack.company_name %></p>
      <hr>
      <h5>설명</h5>
      <p><%= @pack.desc %></p>
      <hr>
      <h3>필수 옵션 선택</h3>
      <form action="/carts" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="pack_id" value="<%= @pack.id %>">

        <div class="form-group">
          <label for="quantity">수량</label>
          <select name="quantity" id="quantity" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>

        <button type="submit" class="btn btn-outline-dark mt-3 w-100">장바구니 담기</button>
      </form>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
    <% if flash[:notice].present? %>
      result = confirm("<%= flash[:notice] %>")

      if(result){
          location.href = "/carts"
      }

    <% end %>
  </script>
</div>